.menu-chitiet{
    height: auto;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    left:0;
    right:0;
}
.main-chitiet{
    width:1200px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.left-chitiet{
    width: 780px;
    height:auto;
    background-color: white;
}
.right-chitiet{
    width: 390px;
    height:500px;
    margin-left: 30px;
    /* position: fixed; */
    position: relative;
    background-color: white;
}
.right-chitiet h3{
    width:100%;
    height:80px;
    padding:30px;
    border-bottom: 2px solid #ececec;
    color: #ff758c;
}
.info-chitiet{
    height:auto;
    padding:19px 30px;
}
.info-chitiet li{
    line-height: 36px;
    margin-bottom: 18px;
    display:flex;
}
.data-label{
    width: 40%;
    font-weight: 500;
    margin-right: 15px;
}
.infos{
    width:60%;
    font-size: 20px;
}
.back-chitiet{
    width:1200px;
    height:70px;
    margin: auto;
    padding-top:10px;
}
.back-chitiet a{
    width: 150px;
    height:40px;
    text-align: center;
    background-color: pink;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 16px;
    float: left;
    color: white;
}
.back-chitiet a:hover{
    color:red;
}
.main-chitiet-left-right{
    display: flex;
}
.header-chitiet{
    width:100%;
    height: auto;
    background-color: white;
}
.header-chitiet img{
    width: 780px;
    height: 550px;
    border-bottom: 3px solid red;
    object-fit: fill;
    
}
.container-chitiet{
    width:780px;
    height:100px;
    display: flex;
    padding:30px 30px;
    border-bottom: 2px solid #ececec;
}
.container-chitiet img{
    width:40px;
    height:40px;
}
.container-chitiet i{
    width: auto;
    color: red;
    font-size: 25px;
    padding-left: 8px;
    padding-top: 5px;
}
a{
    color:blue;
}
a:hover{
    color: aquamarine;
}
.paragraph-chitiet{
    height:auto;
    padding:19px 20px;
}
.paragraph-chitiet p{
    font-size:20px;
}
.container-img{
    width:100%;
    height:550px;
}
.line-separtor{
    width:100%;
    height:30px;
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    background-color: #cfd9df;
}
.container-download{
    width:100%;
    height:auto;
    font-size: 22px;
    margin-left: 0 !important;
}
.container-download p{
    font-size:18px;
}
.data-label1{
    width: 50%;
    font-weight: 500;
    font-size: 18px;
}
.infos1{
    width:50%;
    font-size: 18px;
}
.title-installer{
    width:390px;
    height:80px;
    text-align: center;
    padding-top: 15px;
    margin: auto;
    border-bottom: 2px solid #ececec;
    
}
.title-installer h5{
    color:red;
    padding-top: 5px;
}
.dlc-installer{
    width:420px;
    height:auto;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}
.dlc-installer p{
    width:100%;
    height: 50px;
}
.open-modal-btn{
    color: slateblue;
}
.open-modal-btn:hover{
    color: aqua;
    cursor: pointer;
}
.menu-item1{
    width: 100%;
    height:auto;
    margin: auto;
    position: relative;
}
.main-item1{
    height:408px;
    margin-bottom: 5px;
    overflow: hidden;
}
.list-image1{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}
.list-image1 div{
    flex:1;
    padding: 5px;
}
.img6{
    width: 100%;
    height:95px;
    object-fit:cover;
    object-position: center;
    cursor: pointer;
}
.img8{
    width: 100%;
    height:408px;
    object-fit:fill;
    object-position: center;
    cursor: pointer;
}
.img-feature1{
    transition: 1s;
}
.control{
    position: absolute;
    top: 198px !important;
    font-size: 50px;
    color:white;
    cursor: pointer;
    transform: translateY(-50%);
}
.prev1{
    height:120px;
    padding-top: 30px;
    margin-left: 5px;
    background:#f6f6f6;
	opacity: 60%;

}
.next1{
    height:120px;
    padding-top:30px;
    margin-left: 734px;
    background:#f6f6f6;
	opacity: 60%;
}
.active1{
    background:red;
}
.next1:hover{
    opacity: 100%;
}
.prev1:hover{
    opacity: 100%;
}
h1{
    color: white !important;
}
